[Unit]
Description=YoHoServerBot
After=network.target

[Service]
WorkingDirectory=/home/anton/yohoserverbot
ExecStart=node /home/anton/yohoserverbot/dist/bot.js
Restart=on-failure

[Install]
WantedBy=multi-user.target